:root {
  --color-icon: hsl(150, 100%, 66%);
}

.advice-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2em 1em;
  border-radius: 10px;
  gap: 10px;
  background-color: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);
  width: 25vw;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-icon);
}

h1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.text {
  padding: 0 10px; /* Adjust the spacing between text and quotes */
}

.quote img {
  width: 15px;
  /* margin: 0 5px; */
}
.quote .first img {
  display: none;
}

.divider-tab {
  display: flex;
  align-items: center;
  color: silver;
  gap: 15px;
}
.divider-tab .divider {
  width: 25vw;
  height: 1px;
}
.divider-tab .vertical-divider-tab {
  display: flex;
  gap: 10px;
}
.divider-tab .vertical-divider-tab .vertical-divider {
  height: 15px;
}

.advice-body .icon {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  top: 4em;
  left: 12em;
  outline: none;
  background-color: hsl(193, 38%, 86%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
}
.advice-body .icon:hover {
  background-color: var(--color-icon);
}
.advice-body .icon:hover img {
  display: flex;
  transform: perspective(600px) rotateY(180deg) !important;
}

@media screen and (max-width: 400px) {
  .container {
    width: 85vw;
    margin-left: 2em;
    margin-right: 2em;
  }
  .divider-tab .divider {
    width: 85vw;
  }
  .advice-body .icon {
    left: 8.5em;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 85vw;
    margin-left: 2em;
    margin-right: 2em;
  }
  .divider-tab .divider {
    width: 85vw;
  }
  .advice-body .icon {
    left: 9.3em;
  }
}
