:root {
  --color-icon: hsl(150, 100%, 66%);
}

.advice-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(218, 23%, 16%);
}
.container {
  display: flex;
  flex-direction: column;
  padding: 2em 1.5em;
  border-radius: 10px;
  gap: 10px;
  background-color: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);
  width: 25vw;
}
h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-icon);
}
h1{
  display: flex;
  flex-wrap: wrap;
}

.divider-tab {
  display: flex;
  align-items: center;
  color: silver;
  gap: 15px;
}
.divider-tab .divider {
  width: 25vw;
  height: 1px;
}
.divider-tab .vertical-divider-tab {
  display: flex;
  gap: 10px;
}
.divider-tab .vertical-divider-tab .vertical-divider {
  height: 15px;
}

.advice-body .icon {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  top: 4em;
  left:11em;
  outline: none;
  background-color: hsl(193, 38%, 86%);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  outline: none;
  border: none;
}
.advice-body .icon:hover {
  background-color: var(--color-icon);
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
